<div class="footer">
		<div class="container">
			<div class="row">

				<div class="col-footer col-md-12 col-xs-12">
					<p class="contact-us-details">
						<b>地址:</b> 北京市海淀区圆明园西路2号院57幢23-24 &nbsp;&nbsp;&nbsp;&nbsp;
						<b>电话:</b> 010-62898741 &nbsp;&nbsp;&nbsp;&nbsp;
						<b>邮编:</b> 100193 &nbsp;&nbsp;&nbsp;&nbsp;
						
					</p>
				</div>

			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="footer-copyright">Copyright &copy; 2015.Company name All rights reserved.</div>
				</div>
			</div>
		</div>
	</div>