<div class="mainmenu-wrapper">
		<div class="container">

			<nav id="mainmenu" class="mainmenu">
				<ul>
					<li class="logo-wrapper">
						<a href="/index"></a>
					</li>
					<li class="<%= act=='1'?'active':''%>">
						<a href="index">首页</a>
					</li>
					<!--<li>
						<a href="features.html">Features</a>
					</li>-->

					<li class="<%= act=='2'?'active':''%>">
						<a href="contact">关于我们</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>