<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>中驰车福FE-Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="/admin/css/app.min.css" type="text/css" />
    <style>
        body {
            overflow: hidden;
        }
        
        #aside {
            overflow-y: scroll;
        }
        
        #aside::-webkit-scrollbar {
            width: 5px;
            height: 16px;
            background-color: #3a3f51;
        }
        
        #aside::-webkit-scrollbar-thumb {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            background-color: #A0A0A0;
        }
    </style>
</head>

<body>
    <div class="app app-header-fixed  ">

        <!-- header -->
        <header id="header" class="app-header navbar" role="menu">
            <!-- navbar header -->
            <div class="navbar-header bg-dark">
                <button class="pull-right visible-xs dk" ui-toggle="show" target=".navbar-collapse">
                <i class="glyphicon glyphicon-cog"></i>
            </button>
                <button class="pull-right visible-xs" ui-toggle="off-screen" target=".app-aside" ui-scroll="app">
                <i class="glyphicon glyphicon-align-justify"></i>
            </button>
                <!-- brand -->
                <a href="#/" class="navbar-brand text-lt">
                    <i class="fa fa-btc"></i>
                    <img src="img/logo.png" alt="." class="hide">
                    <span class="hidden-folded m-l-xs">AutoziFE</span>
                </a>
                <!-- / brand -->
            </div>
            <!-- / navbar header -->

            <!-- navbar collapse -->
            <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
                <!-- buttons -->
                <div class="nav navbar-nav hidden-xs">
                    <a href="#" class="btn no-shadow navbar-btn" ui-toggle="app-aside-folded" target=".app">
                        <i class="fa fa-dedent fa-fw text"></i>
                        <i class="fa fa-indent fa-fw text-active"></i>
                    </a>

                </div>
                <!-- / buttons -->



                <!-- search form -->
                <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" data-target=".navbar-collapse" role="search"
                    ng-controller="TypeaheadDemoCtrl">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm bg-light no-border rounded padder"
                                placeholder="Search projects...">
                            <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
              </span>
                        </div>
                    </div>
                </form>
                <!-- / search form -->


            </div>
            <!-- / navbar collapse -->
        </header>
        <!-- / header -->

        <!-- aside -->
        <aside id="aside" class="app-aside bg-dark">
            <div class="aside-wrap">
                <div class="navi-wrap">
                    <!-- user -->
                    <div class="clearfix hidden-xs text-center show" id="aside-user">
                        <div class="dropdown wrapper">
                            <a href="javascript:;">
                                <span class="thumb-lg w-auto-folded avatar m-t-sm">
                          <img src="img/a0.jpg" class="img-full" alt="...">
                        </span>
                            </a>

                            <span class="clear">
                              <span class="block m-t-sm">
                                <strong class="font-bold text-lt"><%= loginName %></strong>
                              </span>
                            </span>
                            <a href="/logout">注销</a>
                            <!-- dropdown -->
                            <!--<ul class="dropdown-menu animated fadeInRight w hidden-folded">-->
                            <!--<li class="wrapper b-b m-b-sm bg-info m-t-n-xs">-->
                            <!--<span class="arrow top hidden-folded arrow-info"></span>-->
                            <!--<div>-->
                            <!--<p>300mb of 500mb used</p>-->
                            <!--</div>-->
                            <!--<div class="progress progress-xs m-b-none dker">-->
                            <!--<div class="progress-bar bg-white" data-toggle="tooltip" data-original-title="50%"-->
                            <!--style="width: 50%"></div>-->
                            <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<a href>Settings</a>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<a href="page_profile.html">Profile</a>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<a href>-->
                            <!--<span class="badge bg-danger pull-right">3</span>-->
                            <!--Notifications-->
                            <!--</a>-->
                            <!--</li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li>-->
                            <!--<a href="page_signin.html">Logout</a>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <!-- / dropdown -->
                        </div>
                        <div class="line dk hidden-folded"></div>
                    </div>
                    <!-- / user -->

                    <!-- nav -->
                    <nav ui-nav class="navi clearfix">
                        <ul class="nav">
                            <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                                <span>Navigation</span>
                            </li>
                            <li>
                                <a href class="auto">
                                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
                                    <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
                                    <span class="font-bold">产品管理</span>
                                </a>
                                <ul class="nav nav-sub dk">
                                    <li class="nav-sub-header">
                                        <a href>
                                            <span>产品管理</span>
                                        </a>
                                    </li>
                                    <!-- <li>
                                    <a href="/admin/detailUser" target="iframeContent">
                                        <span>用户</span>
                                    </a>
                                </li> -->
                                    <li>
                                        <a href="/admin/mcList" target="iframeContent">
                                            <span>列表</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admin/mcAdd" target="iframeContent">
                                            <span>添加</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href class="auto">
                                    <span class="pull-right text-muted">
                                    <i class="fa fa-fw fa-angle-right text"></i>
                                    <i class="fa fa-fw fa-angle-down text-active"></i>
                                </span>
                                    <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
                                    <span class="font-bold">产品管理</span>
                                </a>
                                <ul class="nav nav-sub dk">
                                    <li class="nav-sub-header">
                                        <a href>
                                            <span>信息管理</span>
                                        </a>
                                    </li>
                                    <!-- <li>
                                    <a href="/admin/detailUser" target="iframeContent">
                                        <span>用户</span>
                                    </a>
                                </li> -->
                                    <li>
                                        <a href="/admin/newsList" target="iframeContent">
                                            <span>列表</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admin/newsAdd" target="iframeContent">
                                            <span>添加</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                    <!-- nav -->

                    <!-- aside footer -->
                    <!--<div class="wrapper m-t">
                    <div class="text-center-folded">
                        <span class="pull-right pull-none-folded">60%</span>
                        <span class="hidden-folded">Milestone</span>
                    </div>
                    <div class="progress progress-xxs m-t-sm dk">
                        <div class="progress-bar progress-bar-info" style="width: 60%;">
                        </div>
                    </div>
                    <div class="text-center-folded">
                        <span class="pull-right pull-none-folded">35%</span>
                        <span class="hidden-folded">Release</span>
                    </div>
                    <div class="progress progress-xxs m-t-sm dk">
                        <div class="progress-bar progress-bar-primary" style="width: 35%;">
                        </div>
                    </div>
                </div>-->
                    <!-- / aside footer -->
                </div>
            </div>
        </aside>
        <!-- / aside -->

        <!-- content -->
        <div id="content" class="app-content" role="main">
            <div class="app-content-body ">
                <iframe id="iframeContent" name="iframeContent" src="/admin/home" frameborder="0" width="100%" height="100%"></iframe>

            </div>
        </div>
        <!-- / content -->

        <!-- footer -->
        <footer id="footer" class="app-footer" role="footer">
            <div class="wrapper b-t bg-light">
                <span class="pull-right">2.0.1 <a href ui-scroll="app" class="m-l-sm text-muted"><i
                            class="fa fa-long-arrow-up"></i></a></span> &copy; 2015 Copyright.
            </div>
        </footer>
        <!-- / footer -->

    </div>

    <script src="/admin/js/app.min.js?v=2016411"></script>
    <script>
    var localHost=window.location.toString();
    $(function () {
        var headerH = $('#header').height(),
            footerH = $('#footer').height();
        $('#iframeContent').height($(window).height() - headerH - footerH);
        $('#aside').height($(window).height() - headerH);
        /*$('.nav>li a[target=iframeContent]').on('click', function (e) {
            window.location=localHost+'#'+$(this).attr('href');
        });*/
    })
</script>
</body>

</html>