<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Title</title>
 <link rel="stylesheet" href="/admin/css/app.min.css">
 <link rel="stylesheet" href="/admin/css/comment.css">
</head>
<body>
  <div class="row result_marginTop">
    
     <div class="col-md-12"><h1><img src="/images/mascot.png" width="230" height="200" />
       <a href="/admin/mcList" class="result_ok"><%= result %></a></h1>
     </div>
     
  </div>

</body>
</html>