<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" href="/admin/css/app.min.css">
    <link rel="stylesheet" href="/admin/css/rewrite.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading font-bold">
        用户
    </div>
    <div class="panel-body">

    </div>
</div>


<script src="/admin/js/app.min.js" charset="utf-8"></script>
<script src="/admin/js/ui-jp.js"></script>
</body>
</html>