<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>****</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!--[if lte IE 8]>
		    <link rel="stylesheet" href="css/leaflet.ie.css" />
		<![endif]-->
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="/css/jquery-ui.css">

</head>

<body>
	<!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<!-- Header area -->
	<!-- Header area -->

	<!-- Navigation & Logo-->
	<% include components/menu.ejs %>
<!-- Homepage Slider -->
	<div class="homepage-slider">
		<div id="sequence">
			<ul class="sequence-canvas">
				<!-- Slide 1 -->
				<li class="bg4">
					<!-- Slide Title -->
					<h2 class="title">Responsive</h2>
					<!-- Slide Text -->
					<h3 class="subtitle">It looks great on desktops, laptops, tablets and smartphones</h3>
					<!-- Slide Image -->
					<img class="slide-img" src="images/homepage-slider/slide1.png" alt="Slide 1" />
				</li>
				<!-- End Slide 1 -->
				<!-- Slide 2 -->
				<li class="bg3">
					<!-- Slide Title -->
					<h2 class="title">Color Schemes</h2>
					<!-- Slide Text -->
					<h3 class="subtitle">Comes with 5 color schemes and it's easy to make your own!</h3>
					<!-- Slide Image -->
					<img class="slide-img" src="images/homepage-slider/slide2.png" alt="Slide 2" />
				</li>
				<!-- End Slide 2 -->
				<!-- Slide 3 -->
				<li class="bg1">
					<!-- Slide Title -->
					<h2 class="title">Feature Rich</h2>
					<!-- Slide Text -->
					<h3 class="subtitle">Huge amount of components and over 30 sample pages!</h3>
					<!-- Slide Image -->
					<img class="slide-img" src="images/homepage-slider/slide3.png" alt="Slide 3" />
				</li>
				<!-- End Slide 3 -->
			</ul>
			<div class="sequence-pagination-wrapper">
				<ul class="sequence-pagination">
					<li>1</li>
					<li>2</li>
					<li>3</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Homepage Slider -->
	<section id="jQuery-plugin" class="portfolio-area">
		<div class="container">
			<h2 class="block_title">关于我们</h2>
			<div>
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.autozi.com" target="_blank">“中驰车福联合电子商务（北京）有限公司”</a>成立于2010年，总部位于北京。中驰车福电商是集互联网技术开发、应用、网上商城平台、汽车数据平台、供应链云平台于一起的综合化垂直类服务平台。该平台是依托互联网云技术，建立从从修理厂零部件生产企业到汽修企业、汽修企业到车主及增值服务集合的B2B2C+O2O垂直类行业平台，利用创新的商业模式及互联网思维，为汽修企业提供“一站式”质量保真的维修配件采购、汽修厂技术管理等能力升级的同时为车主提供包含维修保养、汽车救援、新车销售、车险销售理赔、汽车租赁、二手车等业务在内的全方位、一站式的车主服务。<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中驰车福平台承载配件供应厂商、汽车服务终端与车主之间行业公共“供应链服务平台”。这是一个借助互联网云计算技术打造的短链高效和低成本的供应链平台，这是一个基于全行业产品目录的“网上商城平台”、覆盖全国的“仓储物流平台”、供应商基于销售可视化的“网络营销平台”以及供应商基于库存可视化的“VMI平台”。<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中驰车福电商平台的推出不仅为全国从事汽车服务的会员客户提供“一站式”配件供应，而且做到品质保证、交付及时、售后承诺与价格透明。<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中驰电商平台=“网上商城平台”+“汽车数据平台”+“供应链云平台”<br/>
                <h3>中驰车福优势：</h3>
                1、模式领先：真正打通零配件供应链条，建立厂商与修理终端的直接业务联系，建立垂直领域的订单平台、结算平台与物流平台。<br/>
                2、规模领先：与飞利浦、博世、天合等500强企业直接建立供应合作关系，在汽车后市场领域内全面合作。<br/>
                3、品质领先：厂家直供，保证正品行货，完善的质量保证体系，全面维护消费者权益。<br/>
                <h3>业务发展情况：</h3>
                1、区域覆盖：完成全国15个省的业务上线，到年底完成对全国30个省/市的全面覆盖。<br/>
                2、区域中心仓：目前共设立15个区域中心仓，面积从1000平方米到10万平方米。<br/>
                3、销售门店：目前所有合作伙伴拥有的门店总数已超过200家，为平台大客户做最后一公理的配送。<br/>
                4、员工总数：目前员工总数近1500人，其中销售人员700人。<br/>
                5、销售规模：2014年12月份，平台月销售额过5000万，2015年销售额预计突破10亿元。<br/>
                <h3>我们的使命：</h3>
                为广大车主提供“一站式”规范汽车服务<br/>
                为维修企业提供“一站式”配件采购服务<br/>
                <h3>我们的愿景：</h3>
                成为中国汽车后市场最大的B2B2C+O2O垂直电商平台<br/>
                <h3>我们的价值观：</h3>
                诚信经营、模式创新、专业服务、协同共赢<br/>
            </div>

		</div>
	</section>
	

	<!-- Footer -->
	<% include components/footer.ejs %>

	<!-- Javascripts -->
	<script src="js/jquery-1.12.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/leaflet.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/jquery.sequence-min.js"></script>
	<script src="js/jquery.bxslider.js"></script>
	<script src="js/main-menu.js"></script>
	<script src="js/template.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script>
    var searchPath="http://localhost:3000";
    $( "#searchTxt" ).autocomplete({
        source: searchPath+"/search"
     });
    </script>


</body>

</html>